<script setup lang="ts">
import { useRouter } from "vue-router";
import { onMounted } from "vue";

import { useTutorialStore } from "../stores/tutorials";

const tutorialStore = useTutorialStore();
const router = useRouter();

onMounted(async () => {
  await tutorialStore.syncTutorials();
});
</script>

<template>
  <div class="text-center py-7">
    <!-- <button @click="tutorialStore.addData()">Add data</button> -->
    <h1 class="text-5xl text-green-500 font-semibold mb-3">List tutorial</h1>
    <ul>
      <li
        class="py-2 text-lg cursor-pointer transition-all duration-300 hover:text-green-500"
        v-for="tutorial in tutorialStore.tutorials"
        :key="tutorial.id"
        @click="
          router.push({
            name: 'watch',
            params: {
              id: tutorial.id,
            },
          })
        "
      >
        {{ tutorial.title }}
      </li>
    </ul>
  </div>
</template>
