<script setup lang="ts">
import { useMediaControls } from "@vueuse/core";
import { useRoute, useRouter } from "vue-router";
import { ref, reactive, watch, inject, onMounted, onUnmounted } from "vue";

// store
import { useTutorialStore } from "@/stores/tutorials";

// data
const route = useRoute();
const router = useRouter();
const tutorialStore = useTutorialStore();
const tutorialId: number = parseInt(route.params.id as string);
const percentProgress = ref(0);
const subtitle = ref("");
const skip = reactive({
  back: false,
  next: false,
});
const isShowVideoNavbar = ref(false);

const $utils = inject("$utils");

const video = ref();
const controls = useMediaControls(video, {
  src: {
    src: "",
    type: "video/mp4",
  },
});

const { playing, currentTime, duration } = controls;

// watch
watch(
  () => currentTime.value,
  (newValue) => {
    const newContent: string = tutorialStore.getSubtitleTime(newValue)?.content || "";
    if (newContent !== subtitle.value) {
      subtitle.value = newContent;
      const elContent = document.getElementById("video-subtitle");
      if (elContent)
        elContent.innerHTML = `<p class="video-subtitle-content">${subtitle.value}</p>`;
    }
  }
);

// methods
const loadVideo = async (url: string) => {
  await tutorialStore.syncSubtitle(tutorialStore.currentVideo?.id || 0);
  await tutorialStore.syncSubtitleContent(tutorialStore.subtitle.url);
  video.value.querySelector("source").setAttribute("src", url);
  video.value.load();
  playing.value = false;
};

const formatTime = (time: number) => {
  const minutes = Math.floor(time / 60);
  const seconds = Math.floor(time - minutes * 60);
  return `${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
};

const progressbar = () => {
  return (currentTime.value / duration.value) * 100;
};

const progressbarHover = (e: any) => {
  // console.log(e);
  const eWidth = e.target.offsetWidth as number;
  const mOffset = e.offsetX;
  const percent = (mOffset / eWidth) * 100;
  percentProgress.value = percent;
};

const animationend = (type: "back" | "next") => {
  skip[type] = false;
};

// mounted
onMounted(async () => {
  await tutorialStore.syncVideos(tutorialId);
  if (tutorialStore.videos.length > 0) {
    tutorialStore.currentVideo = tutorialStore.videos[0];
  }
  loadVideo(tutorialStore.currentVideo.url);
});

onUnmounted(() => {
  window.removeEventListener("keydown", eventKey);
});

// event window
const eventKey = (e: KeyboardEvent) => {
  // console.log(e.code);
  if (e.code === "Space" || e.code === "KeyP") {
    e.preventDefault();
    playing.value = !playing.value;
  } else if (e.code === "ArrowRight") {
    e.preventDefault();
    currentTime.value = currentTime.value + 5;
    skip.next = true;
  } else if (e.code === "ArrowLeft") {
    e.preventDefault();
    currentTime.value = currentTime.value - 5;
    skip.back = true;
  }
};

window.addEventListener("keydown", eventKey);
</script>

<template>
  <div>
    <div class="py-6 px-4">
      <button
        class="bg-green-500 hover:bg-green-600 duration-300 transition-all py-1.5 px-3 rounded-md text-white hover:text-slate-200 font-semibold"
        @click="router.push('/')"
      >
        Home
      </button>
    </div>
    <div class="flex flex-1">
      <div
        class="video h-screen relative flex-1"
        @mouseenter="isShowVideoNavbar = true"
        @mouseleave="isShowVideoNavbar = false"
      >
        <video class="h-full w-full cursor-pointer" ref="video" @click="playing = !playing"></video>

        <div class="video-subtitle" id="video-subtitle">
          <p class="video-subtitle-content text-base">{{ subtitle }}</p>
        </div>

        <div
          class="video-navbar absolute bottom-0 left-0 w-full pb-2.5 pt-3.5 px-6"
          :class="{ active: isShowVideoNavbar || !playing }"
        >
          <div
            class="py-1.5 px-2 cursor-pointer bg-green-500 hover:bg-green-600 duration-300 transition-all rounded-md text-white hover:text-slate-200 font-semibold"
            style="width: 36px; height: 36px"
            v-html="playing ? $utils.icons.pause : $utils.icons.play"
            @click="playing = !playing"
          ></div>
          <span class="mx-2 text-center" style="min-width: 110px">
            {{ formatTime(currentTime) }} / {{ formatTime(duration) }}
          </span>
          <span
            class="progress-bar"
            :style="`--progress-bar: ${progressbar()}%; --progress-bar-hover: ${percentProgress}%;`"
            @mousemove="progressbarHover"
            @mouseleave="percentProgress = 0"
            @click="currentTime = (percentProgress / 100) * duration"
          >
            <span class="tooltip" v-if="percentProgress > 0">
              {{ formatTime((percentProgress / 100) * duration) }}
            </span>
          </span>
        </div>

        <div class="video-status">
          <div
            class="video-status-skip"
            :class="{ active: skip.back }"
            @animationend="animationend('back')"
            v-html="$utils.icons.rewind"
          ></div>
          <div
            class="video-status-playing"
            :class="{ pause: playing }"
            v-html="playing ? $utils.icons.pause : $utils.icons.play"
          ></div>
          <div
            class="video-status-skip"
            :class="{ active: skip.next }"
            @animationend="animationend('next')"
            v-html="$utils.icons.forward"
          ></div>
        </div>
      </div>
      <ul class="list-tutorials h-screen px-2 py-5 overflow-y-auto" style="width: 290px">
        <li
          class="mb-2 px-2 py-2 cursor-pointer transition-all duration-300 rounded-lg shadow-[0_0_3px_#e2e8f0] hover:shadow-[0_0_8px_2px_#22c55e]"
          :class="{
            'shadow-[0_0_8px_2px_#f00]': tutorialStore.currentVideo.id === video.id,
          }"
          v-for="video in tutorialStore.getVideos"
          :key="video.id"
          @click="
            () => {
              tutorialStore.currentVideo = video;
              loadVideo(video.url);
            }
          "
        >
          {{ video.title }}
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.video {
  overflow: hidden;
  &-subtitle {
    position: absolute;
    bottom: 70px;
    left: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 0 0 2px #22c55e;
    padding: 0.5rem;
    transform: translateX(-50%);
    z-index: 1;
  }
  &-navbar {
    display: flex;
    align-items: center;
    background: rgba(#181818, 0.5);
    transform: translateY(100%);
    transition: 0.4s linear;
    opacity: 0;
    &:hover {
      background: rgba(#181818, 0.8);
    }
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
    .progress-bar {
      flex: 1;
      cursor: pointer;
      height: 12px;
      border-radius: 30px;
      background: gray;
      position: relative;
      @mixin progress-bar-value {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 30px;
      }
      &::before {
        @include progress-bar-value;
        width: var(--progress-bar-hover, 0%);
        background: rgba(34, 197, 94, 0.4);
      }
      &::after {
        @include progress-bar-value;
        width: var(--progress-bar, 0%);
        min-width: 0.5%;
        background: rgb(34 197 94);
        transition: 0.3s ease;
      }
      .tooltip {
        position: absolute;
        bottom: calc(100% + 2px);
        left: var(--progress-bar-hover, 0%);
        transform: translateX(-50%);
      }
    }
  }

  &-status {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 3;
    color: white;
    user-select: none;
    pointer-events: none;
    padding: 0 10%;
    width: 100%;
    height: calc(100% - 60px);
    &-playing {
      background: rgba(0, 0, 0, 0.6);
      padding: 40px;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      opacity: 0.9;
      &.pause {
        opacity: 0;
        animation: statusAnimation 1s;
      }
    }
    &-skip {
      background: rgba(0, 0, 0, 0.6);
      padding: 26px;
      height: 110px;
      width: 110px;
      border-radius: 50%;
      opacity: 0;
      &:hover {
        opacity: 0.9;
      }
      &.active {
        animation: statusAnimation 0.5s ease;
      }
    }
  }
  @keyframes statusAnimation {
    0% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      transform: scale(1.8);
    }
  }
}
</style>
