<script setup lang="ts">
import { RouterView } from "vue-router";
</script>

<template>
  <div class="overflow-x-hidden">
    <Transition name="slide-left" mode="in-out" appear>
      <RouterView />
    </Transition>
  </div>
</template>

<style scoped>
.slide-left-enter-active {
  transition: opacity 0.6s, transform 0.6s;
}
.slide-left-leave-active {
  transition: opacity 0.4s, transform 0.4s;
}
.slide-left-enter-from,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-10%);
}
</style>
